@charset "utf-8";

/* CSS Document */
@font-face {
    font-family: 'Gilroy-Bold';
    src: url(../FE39-HW-2/Gilroy-Bold.ttf);
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url(../FE39-HW-2/Gilroy-Medium.ttf);
}

.container {
    max-width: 1445px;
    margin: 0 auto;
    padding: 0 87.94px;
 
}
html{
   box-sizing: border-box;
}
*,*::before,*::after{
   box-sizing: inherit;
}

.body {
    font-family: 'Gilroy-Bold';
   font-style: normal;
   font-weight: normal;
   max-width: 1445px;
   height: 4759px;
   margin-left: auto;
   margin-right: auto;

}
.wrapper{
   max-width:943.61px;
   margin: 0 auto;
   
}
.header__wrapper {
   display: flex;
   flex-wrap: nowrap;
   align-items: center;
   justify-content: space-around;
   padding-top: 32.99px;
   padding-left: 250.69px;
}
.header__list{
   display: flex;
   flex-wrap: nowrap;
   padding-bottom: 32px;
}
ul{list-style: none;}

.header__item{
   margin-right: 155.65px;
   text-decoration: none;
}
.header__item:last-child{
   margin-right: 0;
}
.header__link{
   font-size: 18px;
   line-height: 22px;
   color: #828282;
   text-decoration: none;
}
.header__link::hover,.header__link::focus,.header__link::active{
   opacity: 0.75;
}
.divid{
   width: 940.6px;
  padding-top: 5.87px;  
}


/*main*/
.veronica {
   
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}


.veronica__logo{
padding-left: 140px;
left: 26.37%;
right: 74.08%;
top: 128.13px;
bottom: 94.82%;

font-family: 'Gilroy-Bold';
font-size:47.3392px;
line-height: 59px;

color: #070707;

}
.veronica__headline{
left: 46.49%;
right: 42.74%;
top: 185px;
margin-bottom: 49.67px;

font-family: 'Gilroy-Medium';
font-size: 18px;
line-height: 22px;
color: #070707;
}

/*выбор языка*/
.veronica__language{
margin-right: -130px;
margin-left: 150px;
top: 185px;
font-family: 'Gilroy-Bold';
font-size: 16px;
line-height: 20px;

color: #828282;
transform: rotate(-90deg);
}
.wrapper__photo{
   padding-left: 140px;
    width: 943.61px;
    height: 387px;
    left: 250.69px;
    top: 376.94px;
    
}
/*about-me*/
.about-me{
   padding-left: 140px;
   display: flex;
   flex-wrap: nowrap;
   align-items: center;
   justify-content:center;
   flex-direction: column;
}
#Aboutme{
   padding-left: 140px; 
   left: 44.68%;
   right: 44.54%;
   top: 18.66%;
   bottom: 80.43%;
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;    
}
.st{
   padding-left: 140px;
    width: 485.34px;
    height: 218px;
    left: 480.33px;
    top: 949px;
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #070707; 
}

 /* Skills */
 .skills{
   padding-left: 140px;
   display: flex;
   flex-wrap: nowrap;
   align-items: center;
   justify-content:center;
   flex-direction: column;
 }

 #Skills{
   padding-left: 140px;
   left: 45.8%;
   right: 45.59%;
   top: 1365px;
   bottom: 70.77%;
    
    text-align: center;
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 42px;   
 }

 .Skills_tit{
   padding-left: 140px;
   left: 42.18%;
   right: 42.04%;
    text-align: center;
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    top: 1460.14px;
 }
 .flex{
   padding-left: 140px;
   top:1566.65px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    width: 880px;
    height: 450px;
   
 }
 .flex-box{
   
    width: 89.21px;
    height: 110px;
 }
 .flex-box:nth-child(1){
    
    font-family: 'Gilroy-Bold';
    font-size: 14px;
    line-height: 17px;
    text-align: center;
 }
 .flex-box:nth-child(2){
    font-family: 'Gilroy-Bold';
    font-size: 14px;
    line-height: 17px;
    text-align: center;
 }
 .flex-box:nth-child(3){
    font-family: 'Gilroy-Bold';
    font-size: 14px;
    line-height: 17px;
    text-align: center;
 }
 .flex-box:nth-child(4){
    font-family: 'Gilroy-Bold';
    font-size: 14px;
    line-height: 17px;
    text-align: center;
 }
 .rtext{
    font-family: 'Gilroy-Bold';
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282; 
 }
  /* Stars*/
  .rating {
    unicode-bidi: bidi-override;
    direction: rtl;
  }
  
  .rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
    
  }

  .rating > span:hover:before,
  .rating > span:hover ~ span:before {
     content: "\2605";
     position: absolute;
    
  }

  /* Stars end*/
  /* Portfolio*/
  .portfolio_flex{
   padding-left: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
 }

#Portfolio{
   left: 45.62%;
   right: 45.21%;
   top: 41.96%;
   bottom: 57.13%;
    text-align: center;
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 42px;
    color: #070707;  
 }

 h2#portfolio_etext{
   
   text-align: center;
   font-family: 'Gilroy-Medium';
   font-size:18px;
   line-height: 22px;
   left: 40.79%;
   right: 40.1%;
   top: 55.51%;
   bottom: 44.02%;
   text-decoration-line: underline;
   color: #070707;}

/* Portfolio end*/
/* Reebok*/


 .reebok_flex{
    top:2763px;
    padding-left: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;  
 }

 h2#reebok_text{
   left: 43.36%;
   right: 42.6%;
    text-align: center;
    font-family: 'Gilroy-Medium';
    font-size:18px;
    line-height: 22px;
    top:3329.89px;
    text-decoration-line: underline;
    color: #070707;
 }
 /* reebok end*/
 /* Braun*/

  .braun_flex{
    top:3451px;
    padding-left: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 686px;
    
 }

 h2#braun_text{
   left: 41.42%;
   right: 40.65%;
   text-align: center;
    font-family: 'Gilroy-Medium';
    font-size:18px;
    line-height: 22px;
    top:4018.9px;
    text-decoration-line: underline;
    color: #070707;
 }

  /* Braun end*/
   /* Contacts*/
   .Contacts{
      top:4251.24px;
      padding-left: 140px;
      display: flex;
      align-items: center;
      flex-direction: column;   
   } 
  
#Contacts{
padding-left: 140px;
left: 44.89%;
right: 45.03%;
top:4251.24px;
bottom: 9.76%;
font-family: 'Gilroy-Bold';
font-size: 34px;
line-height: 42px;
text-align: center;
color: #070707;
  }
  .contacts_tit{
padding-left: 140px;
top:4314.34px;
font-family: 'Gilroy-Medium';
font-size: 18px;
line-height: 22px;
text-align: center;
color: #070707;
  }
.post{
   text-align: center;
   padding-left: 140px;
	top:4401px;  
}
  button [type="text"]{
   align-items: center;
   padding: 3px 20.06px;
	top:4401px;
	border:0;
	text-transform: uppercase;
	
	height: 38px;
   width: 166.46px;
	
  background-color:black;
}

.st_submit{

	border:1px solid #f1efef;
   font-family: 'Gilroy-Bold';
   font-size: 18px;
   line-height: 22px;  
   text-align: center; 
   color: #FFFFFF;
   background-color:black;}
   .st_submit::hover,.st_submit::focus,.st_submit::active{
      background: #7b519d;
   }  
   
   /* Icon */

   .icon.major {
      width: 4em;
      height: 4em;
      line-height: 4em;
      box-shadow: 0 0 0 7px white, 0 0 0 8px #e0e0e0;
   }

      .icon.major:before {
         font-size: 24px;
      }

/* Button */
.icons{
   top:4531.99px;
   padding-left: 250px;
   display: block;
   
}
.social__block {
   
   display: block;
   width: max-content;
   margin: 15px auto;
}
.social {display: inline-block;}
.social a {
   
	display: block;
	width: 48px;
	height: 48px;
	margin: 0 10px 10px 0;
	text-align: center;
	color: #000;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 24px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
}
.social a:hover {color: #fff;}
.social svg {
	margin-top: 7px;
	width: 32px;
	height: 32px;
}
.facebook a:hover {background: #3b5998;}
.instagram a:hover {background: #3f729b;}
.telegram a:hover {background: #249bd7;}
.viber a:hover {background: #7b519d;}

/* Footer */
.contacts_text{
   
   top:4601.76px;
   padding-left: 250px;
   
   font-family: 'Gilroy-Medium';
   font-size: 14px;
   line-height: 17px;
   text-align: center;
   
   color: #828282; 
}