@charset "utf-8";

/* CSS Document */
@font-face {
    font-family: 'Gilroy-Bold';
    src: url(../FE39-HW-2/Gilroy-Bold.ttf);
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url(../FE39-HW-2/Gilroy-Medium.ttf);
}
@media (min-width: 1445px)

.container {
    max-width: 1445px;
    margin: 0 auto;
    padding: 0 87.94px;
 
}
html{
   box-sizing: border-box;
}
*,*::before,*::after{
   box-sizing: inherit;
}

.body {
    font-family: 'Gilroy-Bold';
   font-style: normal;
   font-weight: normal;
   max-width: 1445px;
   height: 4759px;
   margin-left: auto;
   margin-right: auto;

}
.wrapper{
   max-width:943.61px;
   margin: 0 auto;
   
}
.header__wrapper {
   display: flex;
   flex-wrap: nowrap;
   align-items: center;
   justify-content: space-around;
   /* padding-top: 32.99px;
   padding-left: 250.69px; */
}
.header__list{
   display: flex;
   flex-wrap: nowrap;
padding: 0;
   padding-bottom: 32px;
}
ul{list-style: none;}

.header__item{
   margin-right: 155.65px;
   text-decoration: none;
}
.header__item:last-child{
   margin-right: 0;
}
.header__link{
   font-size: 18px;
   line-height: 22px;
   color: #828282;
   text-decoration: none;
}
.header__link::hover,.header__link::focus,.header__link::active{
   opacity: 0.75;
}
.divid{
   width: 940.6px;
  padding-top: 5.87px;  
}


/*main*/
.veronica {
   
   display: flex;
   flex-wrap: nowrap;
   align-items: self-end;
   justify-content: space-between;
   flex-direction: row;
}


.veronica__logo{
   /* padding-left: 140px; */
   /* left: 26.37%; */
   /* right: 74.08%; */
   /* top: 128.13px; */
   /* bottom: 94.82%; */
   font-family: 'Gilroy-Bold';
   font-size: 47.3392px;
   line-height: 59px;
   color: #070707;

}
.veronica__headline{
   /* left: 46.49%; */
   /* right: 42.74%; */
   /* top: 185px; */
   /* margin-bottom: 49.67px; */
   font-family: 'Gilroy-Medium';
   font-size: 18px;
   line-height: 22px;
   color: #070707;
}

/*выбор языка*/
.veronica__language{
       /* left: 5.9%; */
      /* top: 185px; */
      font-family: 'Gilroy-Bold';
      font-size: 16px;
      /* line-height: 20px; */
      color: #828282;
      transform: rotate(-90deg);
      margin: 0 -25px 25px 0;
}
.wrapper__photo{
   /* margin-left: 140px; */
    /* width: 943.61px; */
    height: 387px;
    /* padding-left: 140px; */
    /* left: 250.69px; */
    /* top: 276.94px; */
   background: url(photo.png);
}
/*about-me*/
.about-me{
   /* padding-left: 140px; */
   display: flex;
   flex-wrap: nowrap;
   align-items: center;
   justify-content:center;
   flex-direction: column;
}
#Aboutme{
   /* padding-left: 140px; */ 
   left: 44.68%;
   right: 44.54%;
   top: 18.66%;
   bottom: 80.43%;
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;    
}
.st{
   
   /* padding-left: 140px; */
    width: 485.34px;
    height: 218px;
    left: 480.33px;
    top: 949px;
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #070707; 
}

 /* Skills */
 .skills{
   /* padding-left: 140px; */
   display: flex;
   flex-wrap: nowrap;
   align-items: center;
   justify-content:center;
   flex-direction: column;
 }

 #Skills{
   /* padding-left: 140px; */
   left: 45.8%;
   right: 45.59%;
   top: 1365px;
   bottom: 70.77%;
    
    text-align: center;
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 42px;   
 }

 .Skills_tit{
   /* padding-left: 140px; */
   left: 42.18%;
   right: 42.04%;
    text-align: center;
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    top: 1460.14px;
 }
 .flex{
   /* padding-left: 140px; */
   top:1566.65px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    width: 880px;
    height: 450px;
   
 }
 .flex-box{
   
    width: 89.21px;
    height: 110px;
 }
 .flex-box:nth-child(1){
    
    font-family: 'Gilroy-Bold';
    font-size: 14px;
    line-height: 17px;
    text-align: center;
 }
 .flex-box:nth-child(2){
    font-family: 'Gilroy-Bold';
    font-size: 14px;
    line-height: 17px;
    text-align: center;
 }
 .flex-box:nth-child(3){
    font-family: 'Gilroy-Bold';
    font-size: 14px;
    line-height: 17px;
    text-align: center;
 }
 .flex-box:nth-child(4){
    font-family: 'Gilroy-Bold';
    font-size: 14px;
    line-height: 17px;
    text-align: center;
 }
 .rtext{
    font-family: 'Gilroy-Bold';
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282; 
 }
  /* Stars*/
  .rating {
    unicode-bidi: bidi-override;
    direction: rtl;
  }
  
  .rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
    
  }

  .rating > span:hover:before,
  .rating > span:hover ~ span:before {
     content: "\2605";
     position: absolute;
    
  }

  /* Stars end*/
  /* Portfolio*/
  .portfolio_flex{
   /* padding-left: 250px; */
    display: flex;
    align-items: center;
    flex-direction: column;
 }

#Portfolio{
   left: 45.62%;
   right: 45.21%;
   top: 41.96%;
   bottom: 57.13%;
    text-align: center;
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 42px;
    color: #070707;  
 }
.sloy{
   background: url(sloy.png);
}
 h2#portfolio_etext{
   
   text-align: center;
   font-family: 'Gilroy-Medium';
   font-size:18px;
   line-height: 22px;
   left: 40.79%;
   right: 40.1%;
   top: 55.51%;
   bottom: 44.02%;
   text-decoration-line: underline;
   color: #070707;}

/* Portfolio end*/
/* Reebok*/


 .reebok_flex{
    top:2763px;
    /* padding-left: 250px; */
    display: flex;
    align-items: center;
    flex-direction: column;  
 }
.reebok{
   background: url(reebok.png);
}
 h2#reebok_text{
   left: 43.36%;
   right: 42.6%;
    text-align: center;
    font-family: 'Gilroy-Medium';
    font-size:18px;
    line-height: 22px;
    top:3329.89px;
    text-decoration-line: underline;
    color: #070707;
 }
 /* reebok end*/
 /* Braun*/

  .braun_flex{
    top:3451px;
    /* padding-left: 250px; */
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 686px;
    
 }
.braun{
width: 936.24px;
height: 522px;
left: 252.7px;
top: 3451px;

background: url(braun.png);
}
 h2#braun_text{
   left: 41.42%;
   right: 40.65%;
   text-align: center;
    font-family: 'Gilroy-Medium';
    font-size:18px;
    line-height: 22px;
    top:4018.9px;
    text-decoration-line: underline;
    color: #070707;
 }

  /* Braun end*/
   /* Contacts*/
   .Contacts{
      top:4251.24px;
      /* padding-left: 140px; */
      display: flex;
      align-items: center;
      flex-direction: column;    
   } 
  
#Contacts{
   /* padding-left: 140px; */
left: 44.89%;
right: 45.03%;
top:4251.24px;
bottom: 9.76%;
font-family: 'Gilroy-Bold';
font-size: 34px;
line-height: 42px;
text-align: center;
color: #070707;
  }
  .contacts_tit{
/* padding-left: 140px; */
top:4314.34px;
font-family: 'Gilroy-Medium';
font-size: 18px;
line-height: 22px;
text-align: center;
color: #070707;
  }
.post{
   
   text-align: center;
   /* padding-left: 140px; */
	top:4401px;  
}
  button [type="text"]{
   /* padding-left: 140px; */
   align-items: center;
   padding: 3px 20.06px;
	top:4401px;
	border:0;
	text-transform: uppercase;	
	height: 38px;
   width: 166.46px;	
  background-color:black;
  border-radius: 50px;
}

.st_submit{
   
	border:1px solid #f1efef;
   font-family: 'Gilroy-Bold';
   font-size: 18px;
   line-height: 22px;  
   text-align: center; 
   color: #FFFFFF;
   background-color:black;}
   .st_submit::hover,.st_submit::focus,.st_submit::active{
      background: #7b519d;
   }  
   
   /* Icon */

   .icon.major {
      width: 4em;
      height: 4em;
      line-height: 4em;
      box-shadow: 0 0 0 7px white, 0 0 0 8px #e0e0e0;
   }

      .icon.major:before {
         font-size: 24px;
      }

/* Button */
.icons{
   top:4531.99px;
   /* padding-left: 250px; */
   display: block;
   
}
.social__block {
   
   display: block;
   width: max-content;
   margin: 15px auto;
}
.social {display: inline-block;}
.social a {
   
	display: block;
	width: 48px;
	height: 48px;
	margin: 0 10px 10px 0;
	text-align: center;
	color: #000;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 24px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
}
.social a:hover {color: #fff;}
.social svg {
	margin-top: 7px;
	width: 32px;
	height: 32px;
}
.facebook a:hover {background: #3b5998;}
.instagram a:hover {background: #3f729b;}
.telegram a:hover {background: #249bd7;}
.viber a:hover {background: #7b519d;}

/* Footer */
.contacts_text{
   
   top:4601.76px;
   /* padding-left: 250px; */
   
   font-family: 'Gilroy-Medium';
   font-size: 14px;
   line-height: 17px;
   text-align: center;
   
   color: #828282; 
}
@media (min-width: 991px) and (max-width:1199px) {

.main {
flex: 0 0 66.666667%;
max-width: 66.666667%;
order: 2;
}
}
@media (max-width: 1200px) {

.main {
flex: 0 0 75%;
max-width: 75%;
}
.header__nav{
   padding-right: 140px;
}

.sloy{
   padding-top: 64.94px;
   width: 937px;
   height: 510px;
   left: 29px;
   top: 2937px;
   background: url(sloy.png);
}
h2#portfolio_etext{
   padding-top: 77.97px;
}

     .reebok{
      padding-top: 77.97px;
      width: 937px;
      height: 510px;
      left: 29px;
      top: 3241px;
      background: url(reebok.png);    
     }
     h2#reebok_text{
      padding-top: 77/97px;
      left: 22.93%;
      right: 22.98%;
      top: 77.84%;
      bottom: 21.67%;
   } 
}
@media (max-width: 767px){

.nav-toggle {
   display: block;
}
header {
   padding: 26px 0;
}
.body {

  max-width: 767px;
  height: 4435px;
  margin-left: auto;
  margin-right: auto;

}
.wrapper{
   max-width:375px;
   margin: 0 auto;
padding-left: 29px;
   
}
.header__burger {
   display: block;
  }
 
.header__nav{
   position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 15px;
  background: #FFEFBA;
	z-index: 10;
   padding: 75px;
   transform: translateX(100%);
}
.header__item{
   width: 100%;
   margin-right: 0;
   margin-bottom: 30px;
}
.header__item:last-child{
   margin-bottom: 0;
}

.header__link{
   font-size: 42px;
   line-height: 48px;
}
.header__nav-close{
   width: 40px;
   height: 40px;
   position: absolute;
   top:20px;
   right: 20px;
   z-index: 11;
}
.header__nav-close-line{
   display:block;
   width: 100%;
   height: 2px;
   background-color: #fff;
   position: absolute;
   top: 50%;
   transform: translate(-50%);
}
.header__nav-close-line:first-child{
   transform: translateY(-50%) rotate(45deg);
}
.header__nav-close-line:last-child{
   transform: translateY(-50%) rotate(-45deg);
}
 .veronica {  
    display: flex;
    flex-direction: column;

}

/* .veronica__logo{
left: 6.93%;
right: 60%;
top: 1.47%;
bottom: 96.14%;
 } */

.veronica__headline{
display: flex;
flex-direction: column;
/* padding-left: 140px; */
 padding-top: 23px;
 margin-bottom: 36.94px;  
 left: 7.47%;
 right: 51.03%;
 top: 4.37%;
 bottom: 94.63%;

}
.veronica__language{
   left: 95.9%;
   position: fixed;
top: 185px;
font-family: 'Gilroy-Bold';
font-size: 16px;
line-height: 20px;
color: #828282;
transform: rotate(-90deg);
}

.wrapper__photo{

text-align: center;
height: 478px;
padding-top: 36.94px;
background: url(photo_n.webp) no-repeat;
}
.skills{

   flex-direction: column;  
}
#Skills{

padding-top: 59px;

top: 31.79%;
bottom: 67.62%;  
color: #000000; 
 }

 .Skills_tit{

   left: 19.73%;
   right: 19.48%;
   top: 33.51%;
   bottom: 65.95%;
  
   color: #000000;
 }
 .flex{

height: auto;

top: 35.65%;
bottom: 62.36%;
display: flex;
flex-wrap: wrap;
flex-direction: column;
align-items: center;
justify-content:center;

 }
 .flex-box:nth-child(1){
padding-top: 70.96px;
left: 38%;
right: 38.24%;
}
.flex-box:nth-child(2){
padding-top: 199.59px;
left: 38%;
right: 38.24%;
   }
.flex-box:nth-child(3){
padding-top: 202.21px;
left: 38%;
right: 38.24%;
   }
.flex-box:nth-child(4){
padding-top: 199.43px;
left: 38%;
right: 38.24%;
   }
   #Portfolio{
      padding-top: 179.73px;
      left: 32.27%;
      right: 32.39%;
      top: 63.79%;
      bottom: 35.24%;
      text-align: center;
    }
   .sloy{
      padding-top: 64.94px;
      width: 316px;
      height: 171px;
      left: 29px;
      top: 2937px;
         background: url(sloy_n.png);

   }
    h2#portfolio_etext{
      
      text-align: center;
      font-family: 'Gilroy-Medium';
      font-size:18px;
      line-height: 22px;
      left: 13.07%;
      right: 13.29%;
      top: 70.82%;
      bottom: 28.68%;
      text-decoration-line: underline;
      color: #070707;}   

     .reebok{
      padding-top: 77.97px;
      width: 316px;
      height: 176px;
      left: 29px;
      top: 3241px;
      background: url(reebok_n.png);
      
     }
      h2#reebok_text{
         padding-top: 35px;
         left: 22.93%;
         right: 22.98%;
         top: 77.84%;
         bottom: 21.67%;
      } 

.braun{
padding-top: 77.97px;
width: 316px;
height: 176px;
left: 29px;
top: 3552px;
background: url(braun_n.png);
     }
h2#braun_text{
left: 15.47%;
right: 15.45%;
top: 84.85%;
bottom: 14.66%;
padding-bottom: 20.97px;
      }
      #Contacts{
         padding-top: 32.97px;
         left: 30.67%;
         right: 30.51%;
         top: 89.02%;
         bottom: 10.01%;
         text-align: center;
              }
         
}

